*{
    font-family: 'Poppins', sans-serif;
}

.nav-link:focus, .nav-link:hover {
    color: #F79D25;
    text-decoration: underline;
}

.btn{
    text-decoration: none;
    border: none;
    box-shadow: none;
}

#signup{
    background-color: #11B3CF;
    border-radius: 30px;
    color: white;
}

.nav-link{
    color: #000000;
    font-size: 20px;
    line-height: 30px;
}

.user-image{
    width: 35px;
    height: 35px;
}

.username{
    font-size: 20px;
}

#loggin{
    text-decoration: none;
    background-color: #FFF9F2;

}

.dropdown-toggle {
    width: 25px;
    height: 25px;
}

#noti-tog {
    width: 35px;
    height: 35px;
}

.expand {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F1E6DB;
  border-radius: 20px 0px 20px 20px;
  right: 0;
}

#noti-dc {
    width: 260px;
    right: 10px;
    padding: 15px;
}

.dropdown-content button {
  color: #000;
  background-color: transparent;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: block;
  border-radius: 20px 0px 20px 20px;
  box-shadow: none;
  width: 100%;
  height: 100%;
  margin: 0em;
  padding: 0.5em;
  border: none;
  cursor: pointer;
}

.noti-list p {
    font-size: 16px;
    margin-bottom: 0;
    cursor: pointer;
}

.noti-content {
    border-radius: 10px;
    padding: 10px;
}

.noti-content:hover {
    background-color: #DFCDBB;
    transition: 0.25s;
}

#noti-dc h4 {
    margin-left: 6px;
}

.dropdown-content button:hover {
    background-color: #DFCDBB;
    transition: 0.25s;
    text-decoration: none;
}

.dropdown-content a:link {
    text-decoration: none;
}

.expand:hover .dropdown-content {
  display: block;
}

.expand:hover .dropdown-toggle {
  mix-blend-mode: color-burn;
}

.app-name {
    font-size: 32px;
    font-weight: 1000;
    margin-left: 5px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}