*{
    font-family: 'Poppins', sans-serif;
}

.app-name{
    font-weight: bold;
}

.btn{
    border: none;
    box-shadow: none;
}

.btn-primary{
    background-color: #11B3CF;
    border-radius: 30px;
}

.nav-link{
    color: #000000;
    font-size: 20px;
    line-height: 30px;
}

.verticalLine {
    border-left: 3px solid #000000;
}

.notification{
    width: 32px;
    height: 32px;
}

.user-image{
    width: 35px;
    height: 35px;
}

.username{
    font-size: 20px;
}

.expand{
    width: 5px;
    height: 25px;
}
