*{
    font-family: 'Poppins', sans-serif;
}

.greeting{
    font-size: 24px;
    margin-top: 20px;
    margin-left: 30px;
}

.plan{
    font-size: 32px;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 30px;
}

.progress-bar-div{
    margin-left: 30px;
    margin-top: 20px;
    height: 63px;
    width: 500px;
    border-radius: 20px;
    background-color: #9B67C6;
}

.progress{
    width: 330px;
}

.progress-word{
    margin: 10px;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.progress-bar{
    background-color: #F79D25;
}

.schedule{
    width:408px;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
    to top,
    #F1E6DB 0%,
    #F1E6DB 80%,
    #F79D25 80%,
    #F79D25 100%)
}


.quotes{
    width:408px;
    height: 147px;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 30px;
    background: linear-gradient(
    to top,
    #F1E6DB 0%,
    #F1E6DB 75%,
    #F79D25 75%,
    #F79D25 100%)
}

.quote-title{
    font-weight: 400;
    font-size: 24px;
    color: black;
    margin-left: 15px;
}

.quotes-content{
    font-size: 20px;
    text-align: center;
}

.author{
    font-size: 20px;
    text-align: right;
    margin-right: 50px;
}