.container main {
    padding: 1rem;
    width: 70%;
    margin: 100px auto;
    font-family: 'Poppins', sans-serif;
  }
  
  .login-box {
    display: flex;
  }
  
  .login-left {
    flex-basis: 60%;
    padding: 40px 60px;
  }
  
  .login-right {
    background-color: white;
    flex-basis: 40%;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px 10px 10px 10px;
    border: none;
  }

  input[type="email"] {
    border-radius: 10px 10px 10px 10px;
  }

  input[type="password"] {
    border-radius: 10px 10px 10px 10px;
  }

  .input-email {
    width: 100%;
    margin-bottom: 10px;
  }

  .login-button {
    background: #9B67C6;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px;
  }

  .forgot-pass {
    color: #9B67C6;
    justify-content: center;
    display: flex;
    padding-top: 10px;
  }

  .hr{
    border: none;
    height: 3px;
    background-color: #121111;
  }

  .signup-button {
    background: #11B3CF;
    width: 50%;
    border: none;
    color: #fff;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px;
    margin-left: 25%;
  }

  .input-box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
  }