.mealCard{
    width: 500px;
    height: 180px;
    margin-left: 30px;
    border-radius: 20px;
    background: linear-gradient(
    to top,
    #11B3CF 0%,
    #11B3CF 75%,
    #F79D25 75%,
    #F79D25 100%
  );
}

.mealCard_3{
  margin-left: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
  to top,
  #F1E6DB 0%,
  #F1E6DB 40px,
  #11B3CF 40px,
  #11B3CF calc(100% - 50px),
  #F79D25 calc(100% - 50px),
  #F79D25 100%
);
}


.mealCard_4{
  width: 400px;
  height: 180px;
  margin-left: 100px;
  border-radius: 20px;
  background: linear-gradient(
  to top,
  #F1E6DB 0%,
  #F1E6DB 15%,
  #11B3CF 15%,
  #11B3CF 75%,
  #F79D25 75%,
  #F79D25 100%
);
}

.suggestCard{
  width: 400px;
  height: 200px;
  margin-left: 100px;
  border-radius: 20px;
  background: linear-gradient(
  to top,
  #11B3CF 0%,
  #11B3CF 75%,
  #F79D25 75%,
  #F79D25 100%
);
}

ul > li{
  font-size: 20px;
  color: #FFFFFF;
}

.meal-name{
  flex: 1;
  font-size: 24px;
  margin-left: 20px;
}

.content{
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  color: white;
  text-align: center;
}

.intake{
  text-align: right;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 500;

}
.target{
  text-align: left;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}

#tg1,#tg2 {
  display: inline;
  flex : 1 ;
}

.tg{
}

.textStyle{
  font-size: 50px;
  line-height: 76px;
  font-weight: 500;
  color: #FFFFFF;
}

.ttintake{
  font-style:bold ;
  text-align: left;
  font-size: 24px;
  font-weight: 500;
}

.textSuggest{
  font-style:bold ;
  text-align: left;
  font-size: 31px;
  font-weight: 500;
}

.suggest{
  font-size: 19px;
  line-height: 20px;
  font-weight: 500;
  color: #FFFFFF;
}

.p-msg{
  width: 200px;
  height: 60px;
  margin-top: 10px;
}