.mealCard{
    width: 500px;
    height: 180px;
    margin-left: 30px;
    border-radius: 20px;
    background: linear-gradient(
    to top,
    #11B3CF 0%,
    #11B3CF 75%,
    #F79D25 75%,
    #F79D25 100%
  );
}

ul > li{
  font-size: 20px;
  color: #FFFFFF;
}

.meal-name{
  font-size: 24px;
  margin-left: 20px;
}