h1{
    font-weight: 600;
}

b1{
    font-size: 32px;
    font-weight: 550;
}

.btn{
    background-color: #11B3CF;

}

.sign-up-form{
    background-color: white;
    width: 505px;
    height: 725px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 204px;
    border-radius: 10px;
}

hr{
    height: 2px;
    background-color: black;
}

.signup-button{
    background-color: #11B3CF;
}