.side{
    background-color: #ECE0D3;
    height: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #F79D25;
}

.bold{
  font-weight: bold;
  color: black;
}

* {
  font-family: 'Poppins', sans-serif;
}

.card{
  background-color: #11B3CF;
  width: 180px;
  height: 199px;
  border-radius: 20px;
}

.card-title{
  color: #ffff;
  font-weight: 600;
}

.card-text{
  color: #ffff;
  font-weight: 400;
}

.btn{
  background-color: #FFF9F2;
  color: #11B3CF;
}