.dietitian-container {
    width: 90%;
    border-radius: 60px;
    background: #F1E6DB;
    display: flex;
    align-items: center;
    margin: 2em 1em;
}

.dietitian-container:hover {
    background: #DFCDBB;
    transition: 0.25s;
}

.dietitian-container img {
    border-radius: 50%;
    height: 100%;
}

.dietitian-content {
    margin: 1em 1.5em 0em 1.5em;
}

.suggestion {
    width: 50%;
}

.progress {
    width: 220px;
}

.progress-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-info p {
    color: black;
    margin-left: 0;
    font-size: 22px;
}