<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section>
            <h2>About Us</h2>
            <p>This is the about page content.</p>
        </section>
        <!-- Add more sections or content as needed -->
    </main>

    <%- include('./partials/footer.ejs') %>

</body>

</html>
